.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 243px;
  box-shadow: 1px 0 13px 0 lightgrey;
}
.lowShadow {
  box-shadow: 0 0 18px #e1dede;
}
.sidenav .mat-toolbar {
  background: #ebebeb;
}
::ng-deep .mat-drawer-inner-container {
  background: #ebebeb;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999;
}
.dashClass {
  border-left: 2px solid red;
  background-color: #e5e5e5;
}
.cevClass {
  border-left: 2px solid red;
  background-color: #e5e5e5;
}
.cquClass {
  border-left: 2px solid red;
  background-color: #e5e5e5;
}
.quliClass {
  border-left: 2px solid red;
  background-color: #e5e5e5;
}
.evreClass {
  border-left: 2px solid red;
  background-color: #e5e5e5;
}
