.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 243px;
  box-shadow: 1px 0 13px 0 lightgrey;
}
.lowShadow {
  box-shadow: 0 0 18px #e1dede;
}
.sidenav .mat-toolbar {
  background: #ebebeb;
}
::ng-deep .mat-drawer-inner-container {
  background: #ebebeb;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999;
}
.newClass {
  border-left: 4px solid #c83232;
  background-color: #b8a9a9;
  font-size: 20px;
  color: #333;
}
.listClass {
  border-left: 4px solid #c83232;
  background-color: #b8a9a9;
  font-size: 20px;
  color: #333;
}