<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               opened="true">
    <div>
      <!-- Mobile Navigations -->
      <mat-toolbar color="primary" class="mat-elevation-z0 smallTool">
        <mat-toolbar-row class="secondToolbar">
          <span class="ml-0 pointer" routerLink='/dashboard'>
            <img src="../../assets/tb-logo-black-1.png" alt="think bridge"
                 style="height: 70px; width: 100%;">
          </span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <mat-nav-list class="mt-5">
      <mat-list-item routerLink="add_item" (click)="checkNavigation('newClass')" [ngClass]="{'newClass': addItemPage}">
        <a matLine>Add New Item</a>
      </mat-list-item>
      <mat-list-item routerLink="" (click)="checkNavigation('listClass')" [ngClass]="{'listClass': itemListPage}">
        <a matLine>Item List</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Desktop Navigations -->
    <mat-toolbar color="primary" class="lowShadow">
      <mat-toolbar-row style="background: #fff; color: #000;" class="secondToolbar">

      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
