<h2 mat-dialog-title class="color3">
  Edit Item <span class="float-right" style="cursor: pointer;" (click)="closeIt()"><i
      class="fas fa-times-circle"></i></span>
</h2>
  <div>
    <form [formGroup]="editItem" (submit)="editNewItem()">
      	<div class="row mt-4">
	        <div class="col-6">
	          <mat-form-field appearance="outline" class="fullWidth">
	            <input matInput placeholder="Enter Item's name" formControlName="name">
	            <mat-error *ngIf="s.name.errors">
	              <span *ngIf="s.name.errors.required" class="errorMsg">Name is Required</span>
	            </mat-error>
	          </mat-form-field>
	        </div>
	        <div class="col-6">
	          <mat-form-field appearance="outline" class="fullWidth">
	            <input matInput placeholder="Enter Item's Description" formControlName="description">
	            <mat-error *ngIf="s.description.errors">
	              <span *ngIf="s.description.errors.required" class="errorMsg">Description is Required</span>
	            </mat-error>
	          </mat-form-field>
	        </div>
        </div>
      	<div class="row mt-4">
	        <div class="col-sm-6">
	          <mat-form-field appearance="outline" class="fullWidth">
	            <input matInput placeholder="Enter Item's Category" formControlName="category">
	            <mat-error *ngIf="s.category.errors">
	              <span *ngIf="s.category.errors.required" class="errorMsg">Category is Required</span>
	            </mat-error>
	          </mat-form-field>
	        </div>
	        <div class="col-sm-6">
	          <mat-form-field appearance="outline" class="fullWidth">
	            <input matInput placeholder="Enter Item's Code" formControlName="code">
	            <mat-error *ngIf="s.code.errors">
	              <span *ngIf="s.code.errors.required" class="errorMsg">Item Code is Required</span>
	            </mat-error>
	          </mat-form-field>
	        </div>
        </div>
        <div class="row mt-4">
	        <div class="col-6">
	          <mat-form-field appearance="outline" class="fullWidth">
	            <input matInput placeholder="Enter Item's Price" formControlName="price">
	            <mat-error *ngIf="s.price.errors">
	              <span *ngIf="s.price.errors.required" class="errorMsg">Price is Required</span>
	            </mat-error>
	          </mat-form-field>
	        </div>
	        <div class="col-6">
	          <mat-form-field appearance="outline" class="fullWidth">
	            <input matInput placeholder="Enter Item's Discount Price" formControlName="discount">
	            <mat-error *ngIf="s.discount.errors">
	              <span *ngIf="s.discount.errors.required" class="errorMsg">Discount Price is Required</span>
	            </mat-error>
	          </mat-form-field>
	        </div>
        </div>
        <div class="row mt-4">
	        <div class="offset-sm-4 col-sm-4 offset-sm-4 text-center">
	          <button mat-raised-button type="submit" color="primary" [disabled]="editItem.invalid"
	            *ngIf="!submiting">Update</button>
	          <button mat-raised-button type="submit" [disabled]="!editItem.invalid" *ngIf="submiting">
	            <i class="fas fa-dharmachakra fa-spin"></i>&nbsp;Updating ...</button>
	        </div>
	    </div> 
    </form>
  </div>
