::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px !important;
}
::ng-deep .mat-form-field-infix {
  border-top: .3em solid transparent;
}
::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: none !important;
}
.section {
  padding: 30px 50px 30px 30px;
}
table {
  width: 100%;
}